build/
.DS_Store
*.xcuserdatad
bigNerdRanch.xcodeproj/xcuserdata/
bigNerdRanch.xcodeproj/project.xcworkspace/xcuserdata/

stanfordClass.xcodeproj/xcuserdata/
stanfordClass.xcodeproj/project.xcworkspace/xcuserdata/
